streamlit-webrtc
numpy
streamlit
ipython  # interactive notebook
psutil  # system utilization
thop>=0.1.1  # FLOPs computation
torch
ultralytics
imageio[ffmpeg]
opencv-contrib-python
matplotlib
pillow



